/* Reset di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Norse-Bold.woff");
    
}

/* Container principale: due colonne */
.container {
    display: flex;
    height: 100vh;
}

/* Colonna sinistra: immagine */
#main-sfondo {
    width: 765px; /* puoi cambiare la larghezza */
    height: 765px;
    position: relative;
    overflow: hidden;
}

#immagine {
    width: 70%;
    height: 100%;
    object-fit: cover; /* immagine copre tutta la colonna */
}

/* Logo sopra immagine */
#logo {
    width: 532px;
    height: 142px;
    position: absolute;
    top: 300px;
    left: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo img {
    height: 80%;
}

#logo h1 {
    color: white;
    font-family: 'Norse-Bold', sans-serif; /* il tuo font personalizzato */
    font-size: 7em;
    padding-top: 30px;
}

/* Colonna destra: form */
#form-container {
    width: 50%; /* metà destra della pagina */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f5f5f5;
}

#form-container form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#form-container label {
    font-weight: bold;
}

#form-container input {
    padding: 10px;
    font-size: 16px;
}

.button {
    padding: 12px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #8a0000;
}

p{
    align-items: left;
}